.container{
  height: 100vh;
  width: 100vw;

  background-image: url('../public/wp1974261.webp');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.sucesso{
  color: greenyellow;
}

.erro{
  color: red;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 30px;
}

.yes{
  background-color: green;
  transition: .5s;
}

.yes:hover{
  transform: scale(1.3);
}

button{
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  color: #fff;
}

.no{
  background-color: red;
}